 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

 @tailwind base;
 @tailwind components;
 @tailwind utilities;


 .cart-icon{
    font-size: 23px;
    margin-left: 10px;
    cursor: pointer;
    color: black;
 }


 .card-body {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-card, 2rem);
    gap: 0.5rem;
 }

.feature-product{
   height: 400px;
 }
 .feature-image{
   max-height: 100%;
 }

 .cart-img{
   width:100px;
   height: 130px;
 }

 .deals-card{
  align-items: start;
 }


 /* pagination style */

 .pagination{
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
  justify-content: flex-start;
  list-style: none;
  cursor: pointer;
 }

 .pagination a{
  padding: 10px;
 
  border: 1px solid skyblue;
  color: skyblue;
 }

 .pagination__link{
  font-weight: bold;
 }

 .pagination__link--active a{
  color: black;
background: skyblue;

 }

 .pagination__link--disabled a{
  color: grey;
  border: 1px solid grey;

 }